:root {
	--dark-slate-grey: hsl(234, 29%, 20%);
	--charcoal-grey: hsl(235, 18%, 26%);
	--grey: hsl(231, 7%, 60%);
	--white: hsl(0, 0%, 100%);
	--tomato: hsl(4, 100%, 67%);
	--tomato-light: hsl(4, 100%, 67%, 0.3);
	--tomato-gradient: linear-gradient(to right, hsl(346, 100%, 66%), hsl(13, 100%, 62%))
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

main {
	background-color: var(--dark-slate-grey);
	height: 100vh;
	display: grid;
	place-content: center;
}

p {
 line-height: 1.5rem;
}

ul {
	list-style-type: none;
}

.btn {
	background-color: var(--dark-slate-grey);
	border: none;
	padding: 20px 12px;
	border-radius: 8px;
	color: var(--white);
	font-size: 0.875rem;
	font-weight: 700;
	width: 100%;
	cursor: pointer;
}
.btn:is(:hover, :focus-visible) {
	background-image: var(--tomato-gradient);
	box-shadow: 5px 10px 16px var(--tomato-light);
}

.checklist-item {
	display: flex;
	align-items: start;
	gap: 8px;
}

.checklist {
	display: grid;
	gap: 8px;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}